/* Write your CSS here */
.app-store-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.app-store-main-heading {
  font-family: 'Bree Serif';
  font-size: 38px;
  font-weight: bold;
  color: #1e293b;
  text-align: center;
  margin-top: 70px;
}

.input-element-container {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: #7b8794;
  border-radius: 8px;
  background-color: transparent;
  width: 384px;
  justify-content: space-between;
  margin-top: 35px;
}

.search-icon-container {
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.input-element {
  height: 35px;
  width: 378px;
  border: 0;
  background-color: transparent;
  outline: none;
  padding-left: 15px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

.search-icon-size {
  height: 22px;
  width: 22px;
}

.unordered-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-top: 20px;
}

.unordered-appsList-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.app-list-item {
  list-style-type: none;
}

.mini-card-container {
  height: 220px;
  width: 220px;
  border-radius: 10px;
  border-width: 0;
  background-color: #ffffff;
  padding: 14px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-para {
  font-family: 'Bree Serif';
  font-size: 15px;
  font-weight: bold;
  color: #1e293b;
}

.app-img-size {
  height: 77px;
  width: 77px;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 12px;
}
