/* Write your CSS here */
.list-items-container {
  list-style-type: none;
  padding-right: 0px;
}

.tab-item-para {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  color: #7b8794;
}

.tab-btn {
  height: 35px;
  width: 90px;
  background-color: transparent;
  border-width: 0;
  border-bottom-width: 2px;
  border-style: solid;
  border-bottom-color: #dfe2e5;
  cursor: pointer;
  outline: none;
}
.active-btn {
  border-bottom-color: #2563eb;
  border-style: solid;
  border-width: 0;
  color: #2563eb;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 12px;
}
